body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  position: relative;
  padding-top: 45px;
  background-color: #edffec;
}

/* .middle-container {
  position: relative;
  padding-top: 45px;
  background-color: #edffec;
} */
.bottom-container {
  background-color: #edffec;
  padding: 40px 0 30px;
}

.footer {
  background-color: white;
  padding: 50px 0 0 0;
}

.fed {
  width: 50%;
}

/* animation on the cloud images */
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 350px;
  animation-name: animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes animation {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 400px;
    top: 350px;
  }
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
  animation-name: animation1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes animation1 {
  0% {
    right: 0px;
    top: 0px;
  }

  100% {
    right: 400px;
    top: 350px;
  }
}

.profile-img {
  width: 15%;
  border-radius: 100px;
  margin: 30px auto 10px auto;
}

.skills {
  padding-top: 30px;
}

.skill-imgf {
  padding: 30px;
  width: 7%;
}

.skill-imgb {
  padding: 30px;
  width: 7%;
  margin-top: 40px;
}

hr {
  border: 0;
  height: 2px;
  border-width: 15%;
  width: 15%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

a {
  color: #11999E;
  font-family: Montserrat;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

p {
  line-height: 2;
}

.intro {
  width: 60%;
  margin: auto;
}

.contact-me {
  margin-bottom: 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: pink;
  font-size: 0.8rem;
  padding: 30px 0 10px;
}

.btt {
  background: #11999e;
  font-family: Montserrat;
  font-size: 1.0rem;
  color: #ffffff;
  border-radius: 18px;
  text-decoration: none;
  border-style: none;
}


/* media query for reponsiveness*/

@media (max-width: 600px) {
  h1 {
    font-size:3.0rem;
  }

  h2 {
    font-size: 1.0rem;
  }
}
